@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/dzm2myz.css");
/* Include here too if needed */

body {
  font-family: "Lato", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #ea2147;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Address book  */
.add-new-address input {
  padding: 16px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 36px;
  box-shadow: 0 3px 0 #8d0e30;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: no-repeat linear-gradient(#ea2147 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}

@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }

  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }

  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }

  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }

  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px),
      100% calc(100% - 16px);
  }
}

@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }

  100% {
    transform: translate(200%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

/* Cookie Banner Animation */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.text-ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Show ellipsis */
  white-space: normal;

  line-height: 1.5;
  /* Adjust line-height to your preference */
  min-height: calc(1.5em * 2);
  /* Minimum height of 2 lines */
}